
<% if current_user.first_name == @chatroom.follower_relationship.followed_user.first_name %>
  <% chatter = @chatroom.follower_relationship.user.first_name %>
  <% else %>
    <% chatter = @chatroom.follower_relationship.followed_user.first_name %>
  <% end %>

<div class="main-container">

                    
  <div class="col-9">
    <div class="chat-room">
      <h2>Hi <%= current_user.first_name %></h2>
      <h1>This is you Chatroom with <%= chatter %></h1>
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <div class="message mb-2 <%= 'me' if message.user == current_user %>">
                <div class="content-container" id="message-<%= message.id %>">
                    <div class="content">
                      <p><%= message.content %></p>
                    </div>
                    <i class="author">
                      <span><%= message.user.first_name %></span>
                      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                    </i>
                </div>    
              </div>
              <br>
            <% end %>
        <br>
        <div class="chat-box">
            <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "New message to #{chatter}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class='flex-container'>
      <% Chatroom.where(follower_relationship_id: FollowerRelationship.where(user_id: current_user.id)).each do |cr|%>
        <% fu = cr.follower_relationship.followed_user %>
        <% fo = cr.follower_relationship.user %>
          <% if fu == current_user %>
            <% relation = fo %>
          <% else %>
            <% relation = fu %>
          <% end %>
          <div class="pastille">
          <%= link_to chatroom_path(cr) do %>
            <% cl_image_tag(relation.avatar.key, height: 120, width: 120, crop: "fill", gravity: "faces", class: "avatar-profile")%>
          <% end %>
          </div>
      <% end %>
    </div>

</div>