
<% if current_user.first_name == @chatroom.follower_relationship.followed_user.first_name %>
  <% chatter = @chatroom.follower_relationship.user.first_name %>
  <% else %>
    <% chatter = @chatroom.follower_relationship.followed_user.first_name %>
  <% end %>

<div class="general-container">

  <div class="chat-room col-9">
  <br>
      <h1>Chat with <%= chatter %></h1>
      <br>
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <div class="message mb-2 <%= 'me' if message.user == current_user %>">
                <div class="content-container" id="message-<%= message.id %>">
                    <div class="content">
                      <p><%= message.content %></p>
                    </div>
                    <i class="author">
                      <span><%= message.user.first_name %></span>
                      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                    </i>
                </div>    
              </div>
              <br>
            <% end %>
        <br>
      </div>
    
        <div class="chat-box">
            <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "New message to #{chatter}" %>
          <% end %>
        </div>
  </div>

    <div class='flex-container'>
    <h4>Chatrooms</h4>
      <% Chatroom.participating(current_user).each do |cr|%>
        <% followed = cr.follower_relationship.followed_user %>
        <% following = cr.follower_relationship.user %>
          <% if followed == current_user %>
            <% relation = following %>
          <% elsif following == current_user%>
            <% relation = followed %>
          <% end %>
          <div class="pastille text-center">
            <%= link_to chatroom_path(cr) do %>
              <%= cl_image_tag(relation.avatar.key, height: 120, width: 120, crop: "fill", gravity: "faces", class: "avatar-profile")%>
              <p><%= relation.first_name %> <%= relation.last_name %></p>
            <% end %>
          </div>
      <% end %>
    </div>
</div>