<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/users">Athletes</a></li>
    <li class="breadcrumb-item">Athlete profile</a></li>
    <li class="breadcrumb-item">Edit</li>
  </ol>
</nav>
<!-- /Breadcrumb -->
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white rounded p-3 shadow">
        <h3>Edit your profile</h3>
         <% if params[:skip_later].present? %>
          <%= link_to "Skip Later", users_path, class: 'btn btn-primary' %>
         <% end %>
         <hr>
         <%= simple_form_for @user do |f| %>
          <%= f.label :avatar %>
          <%= f.file_field :avatar, as: :file %>
          <%= f.input :role, required: true, :collection => ['Athlete', 'Scout'], input_html: { class: "mr-2" } %>
          <%= f.input :first_name, placeholder: 'First name' %>
          <%= f.input :last_name, placeholder: 'Last name' %>
          <%= f.input :sport, placeholder: 'Sport' %>
          <%= f.input :age, placeholder: 'Age' %>
          <%= f.input :nationality, placeholder: 'Nationality' %>
          <%= f.input :city, placeholder: 'City' %>
        <hr>
          <p>Only if you're an Athlete<p>
          <%= f.input :position, placeholder: 'Position' %>
          <%= f.input :gender, placeholder: 'Male or Female' %>
          <%= f.input :footedness, placeholder: 'Left or Right' %>
          <%= f.input :weight, placeholder: 'Weight in kg' %>
          <%= f.input :height, placeholder: 'Height in cm' %>
          <%= f.input :description, placeholder: 'A short description of yourself' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit class: 'btn btn-primary' %>
      </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
