          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Athletes</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->


<h2> Search our athletes </h2>

<div class="search-form-control form-group">
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a player"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="filters">
  <%= simple_form_for users_path, method: :get, wrapper: :inline_form, html: {class: "form-inline"} do |f| %>
    <div class="each_filter">
      <%= f.input :sport, required: false, :collection => ['Football', 'Basketball', 'Handball', 'Volleyball'], input_html: { class: "mr-2" }, prompt: "Sport" %>
    </div>

    <div class="each_filter">
      <%= f.input :position, required: false, as: :string, input_html: { class: "position-field mr-2" }, placeholder: "Position" %>
    </div>
    <div class="each_filter">
      <%= f.input :gender, required: false, :collection => ['Female', 'Male'], input_html: { class: "mr-2" }, prompt: "Gender" %>
    </div>
    <div class="each_filter">
      <%= f.input :footedness, required: false, :collection => ['Left', 'Right'], input_html: { class: "mr-2" }, prompt: "Footedness" %>
    </div>
    <div class="each_filter">
      <%= f.input :weight, required: false, as: :integer, input_html: { class: "weight-field mr-2" }, placeholder: "Weight" %>
    </div>
    <div class="each_filter">
      <%= f.input :height, required: false, as: :integer, input_html: { class: "height-field mr-2" }, placeholder: "Height" %>
    </div>
    <div class="each_filter">
      <%= f.input :age, required: false, as: :integer, input_html: { class: "age-field mr-2" }, placeholder: "Age" %>
    </div>
    <div class="each_filter">
      <%= f.input :nationality, required: false, as: :string, input_html: { class: "nationality-field mr-2" }, placeholder: "Nationality" %>
    </div>
    <div class="each_filter">
      <%= f.input :city, required: false, as: :string, input_html: { class: "city-field mr-2" }, placeholder: "City" %>
    </div>
    <div class="each_filter">
      <%= f.submit "Apply filters", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<div class="cards">
  <div class="container">
    <% @users.each do |user| %>
    <% if user.role == "Athlete" %>
      <%= link_to user_path(user) do %>
        <div class="card">
          <div class="card-body">
            <h2>
              <%= user.first_name %>
              <%= user.last_name %>
              <% if user.gender == "Male" %>
                <i class="fas fa-mars"></i>
              <% else %>
                <i class="fas fa-venus"></i>
              <% end %>
            </h2>
            <p>
              19 years old
            </p>
            <div class="user-info">
              <p>
              <i class="fas fa-map-marker"></i> <%= user.city %> <i class="fas fa-flag"></i> <%= user.nationality %>
              </p>
              <p>
                <%= user.sport %> - <%= user.position %> - <%= user.footedness %>-footed
              </p>
            </div>
            <div class="card-header">
              <%= cl_image_tag user.photos.first&.key %>
            </div>
            <div class="user-info">
              <div class="stats">
                <p>
                <i class="fas fa-weight-hanging"></i> <%= user.weight %>kg
                <i class="fas fa-text-height"></i> <%= user.height %>cm
                <i class="fas fa-birthday-cake"></i> <%= user.age %> years old
                </p>
              </div>
              <p><%= user.description%></p>
            </div>

              <p><% if user == current_user %>
                <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></a>
              <% end %>
              <% if user == current_user %>
                <%= link_to "delete", user_path(user), method: :delete, class: 'btn btn-outline-primary' %></a>
              <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
