<h1> Search our users </h1>

<%= form_tag users_path, method: :get do %>
  <div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find new superstar"
  %>
  <%= submit_tag "Search", class: "btn btn-success" %>
  </div>
<% end %>

<%= simple_form_for users_path, method: :get, wrapper: :inline_form, html: {class: "form-inline"} do |f| %>
    <%= f.input :sport, :collection => ['Football', 'Basketball', 'Handball', 'Volleyball'], input_html: { class: "mr-2" }, prompt: "Sport" %>
    <%= f.input :position, as: :string, input_html: { class: "position-field mr-2" }, placeholder: "position" %>
    <%= f.input :gender, :collection => ['female', 'male'], input_html: { class: "mr-2" }, prompt: "Gender" %>
    <%= f.input :footedness, :collection => ['Left', 'Right'], input_html: { class: "mr-2" }, prompt: "Footedness" %>
    <%= f.input :weight, as: :integer, input_html: { class: "weight-field mr-2" }, placeholder: "weight" %>
    <%= f.input :height, as: :integer, input_html: { class: "height-field mr-2" }, placeholder: "height" %>


    <%= f.range_field :w1, :min=>0, :max=>200, :class=>"slide", :id=>"slider1"%>
    <%= f.submit "Apply filters", class: "btn btn-primary" %>
 <% end %>


<div class="cards">
  <% @users.each do |user| %>
    <h2><%= link_to user.first_name, user_path(user) %></h2>
      <p><%= user.first_name %></p>
      <p><%= user.last_name %></p>
      <p><%= user.sport %> </p>
      <p><%= user.position %> </p>
      <p><%= user.gender %> </p>
      <p><%= user.footedness %> </p>
      <p><%= user.weight %> </p>
      <p><%= user.height %> </p>
      <p><%= user.description %></p>
        <p><% if user.id == current_user.id %>
            <a><%= link_to 'Edit', edit_user_path(user) %></a>
          <% end %>
          <% if user.id == current_user.id %>
            <a><%= link_to "delete", user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this property?' } %></a>
          <% end %>
        </p>
    <% end %>
  </div>
