          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Athletes</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->

<h2> Search our athletes </h2>

<div class="search-form-control form-group">
  <%= simple_form_for users_path, method: :get, wrapper: :inline_form, html: {class: "form-inline"} do |f| %>
    <%= f.input :first_name, as: :string, input_html: { class: "first_name-field mr-2" }, placeholder: "First Name" %>
    <%= f.input :last_name, as: :string, input_html: { class: "last_name-field mr-2" }, placeholder: "Last Name" %>
    <%= f.input :sport, :collection => ['Football', 'Basketball', 'Handball', 'Volleyball'], input_html: { class: "mr-2" }, prompt: "Sport" %>
    <%= f.input :position, as: :string, input_html: { class: "position-field mr-2" }, placeholder: "Position" %>
    <%= f.input :gender, :collection => ['Female', 'Male'], input_html: { class: "mr-2" }, prompt: "Gender" %>
    <%= f.input :footedness, :collection => ['Left', 'Right'], input_html: { class: "mr-2" }, prompt: "Footedness" %>
    <%= f.input :weight, as: :integer, input_html: { class: "weight-field mr-2" }, placeholder: "Weight" %>
    <%= f.input :height, as: :integer, input_html: { class: "height-field mr-2" }, placeholder: "Height" %>
    <%= f.input :age, as: :integer, input_html: { class: "age-field mr-2" }, placeholder: "Age" %>
    <%= f.input :nationality, as: :string, input_html: { class: "nationality-field mr-2" }, placeholder: "Nationality" %>
    <%= f.input :city, as: :string, input_html: { class: "city-field mr-2" }, placeholder: "City" %>

    <%= f.submit "Apply filters", class: "btn btn-primary" %>
  <% end %>
</div>


<div class="cards">
  <div class="container">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="card">
          <div class="card-body">
            <h2>
              <%= user.first_name %>
              <%= user.last_name %>
              <% if user.gender == "Male" %>
                <i class="fas fa-mars"></i>
              <% else %>
                <i class="fas fa-venus"></i>
              <% end %>
            </h2>
            <p>
              19 years old
            </p>
            <div class="user-info">
              <p>
              <i class="fas fa-map-marker"></i> Brussels
              </p>
              <p>
                <%= user.sport %> - <%= user.position %> - <%= user.footedness %>-footed
              </p>
            </div>
            <div class="card-header">
              <%= cl_image_tag user.photos.first&.key %>
            </div>
            <div class="user-info">
              <div class="stats">
                <p>
                <i class="fas fa-weight-hanging"></i> <%= user.weight %>kg
                <i class="fas fa-text-height"></i> <%= user.height %>cm
                <i class="fas fa-birthday-cake"></i> 03/08/1991
                </p>
              </div>
              <p><%= user.description%></p>
            </div>

              <p><% if user == current_user %>
                <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></a>
              <% end %>
              <% if user == current_user %>
                <%= link_to "delete", user_path(user), method: :delete, class: 'btn btn-outline-primary' %></a>
              <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
