<% if params[:action] == "home" && params[:controller] == "pages"%>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
<% else %>
  <div class="navbar navbar-expand-sm navbar-dark navbar-lewagon fixed-top">
<% end %>
  <div class="brand">
    <%= link_to "/", class: "logo" do %>
      <% if params[:action] == "home" && params[:controller] == "pages"%>
        <%= image_tag "https://res.cloudinary.com/dzc11fywj/image/upload/v1630145503/1_1_tzpn5v.png" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dzc11fywj/image/upload/v1628940408/1_vgpd59.png" %>
      <% end %>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", user_follower_relationships_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag(current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dzc11fywj/image/upload/v1630142138/avatar_placeholder_y1yifp.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 50, height: 50 %>    
            <% end %> 
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>